# Directories
.venv/

# Pycache
**/__pycache__

# Mac files
**/.DS_Store

# Dev files
.python-version

# Notebook checkpoints
.ipynb_checkpoints/

# Credentials
.env

# Workshop notebook
workshop.ipynb

# Example output files
datasets/election_comparison.csv
datasets/election_comparison.parquet